<?php

// Activate/Deactivate php error reporting
// DEFAULT: false
$ERROR_VERBOSE = true;

// Random.org api settings
// Activate/Deactivate the usage of random.org api to sustain random numbers
// DEFAULT: false
$USE_RANDOMORG_API = true;
// Your personal API access key to use the API
// DEFAULT: '000000...'
$RANDOMORG_API_KEY = 'f3aed22c-dd95-4856-b0a3-c25760c8f2d3';